<h1>投稿一覧</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong>ユーザー名:<%= post.user.email %></strong>:
      <%= post.content %>
      <% if user_signed_in? && post.user == current_user %>
        <%= link_to "削除", post_path(post), data: { turbo_method: :delete, confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        <%= link_to "編集", edit_post_path(post), class: "btn btn-dager" %>
      <% end %>
    </li>
  <% end %>
</ul>